{% extends "authentication/base.html" %}
{% load i18n %}
{% block title %}Registration{% endblock %}
{% block extrahead %}
 <style type="text/css">
  form.form-horizontal {padding-left: 260px;}
  h1 {padding-top:20px;padding-left: 260px;}
  div.errors {padding-left: 400px;}
  span.help-inline {color:#b94a48;}
  </style>
{% endblock %}
{% block content %}
 {% if form.ben_name %} 
	 <h1>Beneficiary Registration Form</h1>
 {% else %} 	 
	 <h1>Donor Registration Form</h1>
 {% endif %}	 
    <p>&nbsp;</p>
    {% if form.ben_name %}
		<form method="post" action="{% url 'accounts:beneficiary' %}" class="form-horizontal">
	{% else %}
		<form method="post" action="{% url 'accounts:donor' %}" class="form-horizontal">
	{% endif %}		
		{% csrf_token %}
	    <div class="control-group">
        	<label class="control-label" for="username">Username</label>
        	{% if form.ben_name %}
	            <div class="controls">{{ form.ben_name }}
	            	{% if errors.ben_name.0 %}
	            	   <span class="help-inline">{{ errors.ben_name.0}}</span>
	            	{% endif %} 
	             </div>
	        {% else %}
	            <div class="controls">{{ form.donor_name }}
	            	{% if errors.donor_name.0 %}
	            	   <span class="help-inline">{{ errors.donor_name.0}}</span>
	            	{% endif %} 
	             </div>
	        {% endif %}         
        </div>
        
        <div class="control-group">
	        <label class="control-label" for="password1">Password</label>
	        <div class="controls">{{ form.password1 }}
	        	{% if errors.password1.0 %}
		            	<span class="help-inline">{{ errors.password1.0}}</span>
	            {% endif %} 
	        </div>
            
        </div>

        <div class="control-group">
	        <label class="control-label" for="password2">Password (again)</label>
	        <div class="controls">{{ form.password2 }}
		        {% if errors.password2.0 %}
			            	<span class="help-inline">{{ errors.password2.0}}</span>        
	            {% endif %}

	        </div>

        </div>  

		<div class="control-group">
	        <label class="control-label" for="address">Address</label>
	        <div class="controls">{{ form.address }}
	        	 {% if errors.address.0 %}
		            	<span class="help-inline">{{ errors.address.0}}</span>
	            {% endif %}
	        </div>
            
        </div>        
     

		<div class="control-group">
	        <label class="control-label" for="website">website</label>
	        <div class="controls">{{ form.website }}
	        	 {% if errors.website.0 %}
		            	<span class="help-inline">{{ errors.website.0}}</span>
	            {% endif %}
	        </div>
        </div>                                                                  
	        <div class="control-group">
	          <div class="controls">
	            <button type="submit" value="submit"  class="btn btn-primary" >Submit</button>
	          </div>
	        </div>
	</form>
{% endblock %}
