{% extends "authentication/base.html" %}
{% load i18n %}
{% block title %}Registration{% endblock %}
{% block extrahead %}
 <style type="text/css">
  form.form-horizontal {padding-left: 260px;}
  h1 {padding-top:20px;padding-left: 260px;}
  div.errors {padding-left: 400px;}
  span.help-inline {color:#b94a48;}
  </style>
{% endblock %}
{% block content %}
    <h1>{{formname}} Registration Form</h1>
    <p>&nbsp;</p>
    <form method="post" action="{{post_url}}" class="form-horizontal">
		{% csrf_token %}
	    <div class="control-group">
        	<label class="control-label" for="username">Username</label>
            <div class="controls">{{ form.username }}
                {% if form.username.errors %}
                   <span class="help-inline">{{ form.username.errors.0 }}</span>
                {% endif %} 
             </div>
        </div>
        
        <div class="control-group">
	        <label class="control-label" for="password1">Password</label>
	        <div class="controls">{{ form.password1 }}
	        	{% if form.password1.errors %}
		            	<span class="help-inline">{{ form.password1.errors.0}}</span>
	            {% endif %} 
	        </div>
            
        </div>

        <div class="control-group">
	        <label class="control-label" for="password2">Password (again)</label>
	        <div class="controls">{{ form.password2 }}
		        {% if form.password2.errors %}
			            	<span class="help-inline">{{ form.password2.errors.0}}</span>        
	            {% endif %}

	        </div>

        </div>  

        <div class="control-group">
	        <label class="control-label" for="email">Email</label>
	        <div class="controls">{{ form.email }}
		        {% if form.email.errors %}
			            	<span class="help-inline">{{ form.email.errors.0}}</span>        
	            {% endif %}

	        </div>

        </div>  

		<div class="control-group">
	        <label class="control-label" for="address">Address</label>
	        <div class="controls">{{ form.address }}
	        	 {% if form.address.errors %}
		            	<span class="help-inline">{{ form.address.errors.0}}</span>
	            {% endif %}
	        </div>
            
        </div>        
     

		<div class="control-group">
	        <label class="control-label" for="website">website</label>
	        <div class="controls">{{ form.website }}
	        	 {% if form.website.errors %}
		            	<span class="help-inline">{{ form.website.errors.0}}</span>
	            {% endif %}
	        </div>
        </div>                                                                  
	        <div class="control-group">
	          <div class="controls">
	            <button type="submit" value="submit"  class="btn btn-primary" >Submit</button>
	          </div>
	        </div>
	</form>
{% endblock %}
