{% extends "base.html" %}
{% block main_title %}Ebs{% endblock %}
{% block title %}Payment{% endblock %}

{% block javascript %}
        <script src="{{STATIC_URL}}fundraiser/js/fundraiser.js" type="text/javascript"></script>
        <script type="text/javascript">
        </script>
{% endblock %}

{% block stylesheets %}
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
         body {padding-top: 60px;}
        .form-horizontal {padding-left: 320px}
        h1 {padding-left: 80px;}
    </style>   
{% endblock %}      

{% block content %}
<h1>Enter Card Details</h1> 
<form class="form-horizontal" action="{{ ebs_url }}" method="POST" name="frmTransaction" id="frmTransaction" onSubmit="return validate()">
        {% csrf_token %}
        <p>&nbsp;</p>
        <h4>Account Details</h4>

        <div class="control-group">
            <label class="control-label" for="account_id">Account Id</label>
            <div class="controls">{{ form.account_id }}
                {% if form.account_id.errors %}
                <span name="account_id" class="help-inline">{{ form.account_id.errors.0 }}</span>
                {% endif %} 
            </div>
        </div>
         
        <div class="control-group">
            <label class="control-label" for="mode">Mode</label>
            <div class="controls">{{ form.mode }}
                {% if form.mode.errors %}
                <span class="help-inline">{{ form.mode.errors.0}}</span>
                {% endif %} 
            </div>

        </div>
	
        <div class="control-group">
            <label class="control-label" for="return_url">Return Url</label>
            <div class="controls">{{ form.return_url }}
                {% if form.return_url.errors %}
                <span class="help-inline">{{ form.return_url.errors.0}}</span>
                {% endif %} 
            </div>

        </div>
        <h4>TRANSACTION DETAILS</h4>
        <div class="control-group">
            <label class="control-label" for="reference_no">Reference No</label>
            <div class="controls">{{ form.reference_no }}
                {% if form.reference_no.errors %}
                <span class="help-inline">{{ form.reference_no.errors.0 }}</span>
                {% endif %} 
            </div>
        </div>
         
        <div class="control-group">
            <label class="control-label" for="amount">Amount</label>
            <div class="controls">{{ form.amount }}
                {% if form.amount.errors %}
                <span name="amount" class="help-inline">{{ form.amount.errors.0}}</span>
                {% endif %} 
            </div>

        </div>
	     
        <div class="control-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">{{ form.description }}
                {% if form.description.errors %}
                <span class="help-inline">{{ form.description.errors.0}}</span>
                {% endif %} 
            </div>

        </div>        
        <h4>BILLING ADDRESS</h4>
		<div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">{{ form.name }}
                {% if form.name.errors %}
                <span name="name" class="help-inline">{{ form.name.errors.0 }}</span>
                {% endif %} 
            </div>
        </div>
         
        <div class="control-group">
            <label class="control-label" for="address">Address</label>
            <div class="controls">{{ form.address }}
                {% if form.address.errors %}
                <span class="help-inline">{{ form.address.errors.0}}</span>
                {% endif %} 
            </div>

        </div>
	
        <div class="control-group">
            <label class="control-label" for="city">City</label>
            <div class="controls">{{ form.city }}
                {% if form.city.errors %}
                <span class="help-inline">{{ form.city.errors.0}}</span>
                {% endif %} 
            </div>

        </div>
         
        <div class="control-group">
            <label class="control-label" for="mode">State</label>
            <div class="controls">{{ form.state }}
                {% if form.state.errors %}
                <span class="help-inline">{{ form.state.errors.0}}</span>
                {% endif %} 
            </div>

        </div>
	
        <div class="control-group">
            <label class="control-label" for="postal_code">Zip / Postal Code</label>
            <div class="controls">{{ form.postal_code }}
                {% if form.postal_code.errors %}
                <span name="postal_code" class="help-inline">{{ form.postal_code.errors.0}}</span>
                {% endif %} 
            </div>

        </div>        
		<div class="control-group">
            <label class="control-label" for="country">Country</label>
            <div class="controls">{{ form.country }}
                {% if form.country.errors %}
                <span class="help-inline">{{ form.country.errors.0 }}</span>
                {% endif %} 
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">{{ form.email }}
                {% if form.email.errors %}
                <span name="email" class="help-inline">{{ form.email.errors.0}}</span>
                {% endif %} 
            </div>

        </div>        

		<div class="control-group">
            <label class="control-label" for="phone">Phone</label>
            <div class="controls">{{ form.phone }}
                {% if form.phone.errors %}
                <span name="phone" class="help-inline">{{ form.phone.errors.0 }}</span>
                {% endif %} 
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" value="submit"  class="btn btn-primary" >Submit</button>
            </div>
        </div>
    </form>
{% endblock %} 
