<h2>Django Response Page Example</h2>
<table border="1">
<tr><td><table>
<tr><td>Response Code</td><td>{{ response.ResponseCode }}</td></tr>
<tr><td>Response Message</td><td>{{ response.ResponseMessage }}</td></tr>
<tr><td>Payment ID</td><td>{{ response.PaymentID }}</td></tr>
<tr><td>Date Created</td><td>{{ response.DateCreated }}</td></tr>
<tr><td>Mode</td><td>{{ response.Mode }}</td></tr>
<tr><td>Amount</td><td>{{ response.Amount }}</td></tr>
<tr><td>IsFlagged</td><td>{{ response.IsFlagged }}</td></tr>
<tr><td>Description</td><td>{{ response.Description }}</td></tr>
<tr><td>BillingName</td><td>{{ response.BillingName }}</td></tr>
<tr><td>BillingEmail</td><td>{{ response.BillingEmail }}</td></tr>
<tr><td>BillingAddress</td><td>{{ response.BillingAddress }}</td></tr>
<tr><td>BillingCity</td><td>{{ response.BillingCity }}</td></tr>
<tr><td>BillingState</td><td>{{ response.BillingState }}</td></tr>
<tr><td>BillingCountry</td><td>{{ response.BillingCountry }}</td></tr>
<tr><td>BillingPhone</td><td>{{ response.BillingPhone }}</td></tr>
<tr><td>BillingPostalCode</td><td>{{ response.BillingPostalCode }}</td></tr>
<tr><td>DeliveryName</td><td>{{ response.DeliveryName }}</td></tr>
<tr><td>DeliveryAddress</td><td>{{ response.DeliveryAddress }}</td></tr>
<tr><td>DeliveryCity</td><td>{{ response.DeliveryCity }}</td></tr>
<tr><td>DeliveryCountry</td><td>{{ response.DeliveryCountry }}</td></tr>
<tr><td>DeliveryPhone</td><td>{{ response.DeliveryPhone }}</td></tr>
<tr><td>DeliveryPostalCode</td><td>{{ response.DeliveryPostalCode }}</td></tr>
</table>
</td></tr>

</table>

