{% extends "base.html" %}
{% block main_title %}Campaigns{% endblock %}
{% block title %}List of Campaigns{% endblock %}
{% block content %}
<h2>List of Campaigns</h1>
    {% if not user.is_staff %}
	    <p style="padding-top:10px; padding-left:1000px;"><a href="{% url 'campaigns:create_a_campaign' %}"><button type="submit" value="creat_a_campaign"  class="btn btn-primary" >Create a Campaign</button></a></p>
    {% endif %}
  <form id="changelist-search" class="form-search" action="." method="get">
    <div class="input-append">
      <label for="searchbar"><img src="{{STATIC_URL}}images/icon_searchbox.png" alt="Search" /></label>
      <input type="text" class="span2 search-query" name="q" value="" id="searchbar">
      <button type="submit" class="btn btn-primary" value="Search">Search</button>
    </div>
  </form>  
   {% if campaign_list or search_results %} 
   <table class="table table-hover" border="0" align="left"  cellpadding="1" cellspacing="1"  width="70%"> 
       <thead>
         <tr>
             <td>Campaign Name</td>
             <td>Amount</td>
             <td>Created</td>
             <td>Category</td>
             <td>Target Completion</td>
         </tr>
       </thead>
       <tbody>
        {% if search_results %}
          {% for campaign in search_results %}
             <tr>
                  <td><a href="{{ campaign.get_absolute_url }}">{{campaign}}</a><br></td>
                  <td>{{campaign.target_amount}}</td>
                  <td>{{campaign.date_created}}</td>
                  <td>{{campaign.category}}</td>
                  <td style="width:30%"><div class="progress"><div class="bar" style="width: {% widthratio campaign.donation campaign.target_amount 100 %}%"></div></div></td>
             </tr>
          {% endfor %}
        {% else %}
          {{}}
          {% for campaign in campaign_list %}
            {% if campaign.is_approved %}
               <tr>
                    <td><a href="{{ campaign.get_absolute_url }}">{{campaign}}</a><br></td>
                    <td>{{campaign.target_amount}}</td>
                    <td>{{campaign.date_created}}</td>
                    <td>{{campaign.category}}</td>
                    <td style="width:30%"><div class="progress"><div class="bar" style="width: {% widthratio campaign.donation campaign.target_amount 100 %}%"></div></div></td>
               </tr>
            {% endif %}
          {% endfor %}
        {% endif %}
      </tbody>
   </table> 
      {% if is_paginated %}
          <div class="pagination pull-right">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="{% url 'campaigns:list_of_campaigns' %}?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="{% url 'campaigns:list_of_campaigns' %}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>
      {% endif %}
   {% else %} 
     <p>There are no Campaigns</p>
   {% endif %}
{% endblock %}


