{% extends "base.html" %}
{% load widget_tweaks %}
{% block main_title %}Campaigns{% endblock %}
{% block title %}Edit Campaign{% endblock %}
{% block extrahead %}
 <style type="text/css">
  form.form-horizontal {padding-left: 260px;}
  h2 {padding-top:30px;padding-left: 130px;}
  div.errors {padding-left: 400px;}
  span.help-inline {color:#b94a48;}
  input.required {border:1px solid #b94a48;}
  select.required {border:1px solid #b94a48;}
</style>
    <script src="{{STATIC_URL}}fundraiser/js/bootbox.min.js"></script>

  <script type="text/javascript">
     $(document).ready(function(){
            $('option:not(:selected)').attr('disabled', true);
            var funds=0;
            $("#total").html($("input#id_target_amount").val());
            display_total_funds();
            $("input[name^='fund-dist-amt']").each(function(){
                if ($.isNumeric($(this).val())) {
                    funds += parseInt($(this).val(),10);
                    if ($(this).is(":hidden")){
                        funds -= parseInt($(this).val(), 10);
                    }
                }
            });
            $("#from-fund").html(funds);
			function readURL(input) {
			        if (input.files && input.files[0]) 
			        {
			        	 if (input.files[0].size > 3145728 )
				        	   {
                                  bootbox.alert("Image size should not be greater than 3MB");
                                  // console.log(input.files[0].size);
				        	   }
			        	 else 
			        	   {  
					            var reader = new FileReader();
					            
					            reader.onload = function (e) {
									$('#info_img').attr('src', e.target.result);
									$('.show_man').show();
					                $('#upload_change_image').val('Change Image');
					            }
					            
					            reader.readAsDataURL(input.files[0]);
					       }     
			        }
			    }
		    $("#upload_change_image").change(function(){
		        readURL(this);
		    });			    

            $(document).on('focus click keypress keyup change', "input[name^='fund-dist-a']", display_total_funds);
            
            function display_total_funds (){
                var sum=0;
            if ((parseInt($("input#id_target_amount").val(), 10) == 0.0) || ($("input#id_target_amount").val() == "")) {
                alert("Please enter the target amount first.");
            }
               $("input[name^='fund-dist-amt']").each(function(){
                  if ($.isNumeric($(this).val())) {
                  sum += parseInt($(this).val(), 10);
                if ($(this).is(":hidden"))
                    sum -= parseInt($(this).val(), 10);
            }
        });
        $("#total").html($("input#id_target_amount").val());
        $("#from-fund").html(sum);
        if (parseInt($("span#total").text()) < parseInt($("span#from-fund").text())) {
            $("span#errors").html("<strong>&nbsp;&nbsp;You have exceeded your target amount.</strong>");
        }
        else {
            $("span#errors").html("");
        };
    };

});

  </script>

    <script src="{{STATIC_URL}}bootstrap/js/campaign.js"></script>

{% endblock %}
{% block content %}
<h2>Edit Campaign</h2>
<p>&nbsp;</p>
<!--<form action="" method="post" class="form-horizontal">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form> -->
<div>
  <form method="post" action="{% url 'campaigns:edit_campaign' campaign.slug%}" class="form-horizontal" enctype="multipart/form-data">
     {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="person" id="required-fields">Created by</label>
            <div class="controls">{{ form.person }}
                 {% if errors.person.0 %}
                        <span class="help-inline" id="required-fields">{{ errors.person.0}}</span>
                {% endif %}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="category">Category</label>
            <div class="controls">{{ form.category }}
                 {% if errors.category.0 %}
                        <span class="help-inline" id="required-fields">{{ errors.category.0}}</span>
                {% else %}
                            <span class="help-inline" ></span>                        
                {% endif %}
            </div>
        </div>
		<div class="control-group">
	        <label class="control-label" for="campaign_name">Campaign Name</label>
	        <div class="controls">{{ form.campaign_name }}
	        	 {% if form.errors.campaign_name.0 %}
		            	<span class="help-inline" id="required-fields">{{ form.errors.campaign_name.0}}</span>
                {% else %}
                            <span class="help-inline" ></span>                
	            {% endif %}
	        </div>
            
        </div>               
		<div class="control-group">
	        <label class="control-label" for="target_amount">Target Amount</label>
	        <div class="controls">{{ form.target_amount }}
	        	 {% if form.errors.target_amount.0 %}
		            	<span class="help-inline" id="required-fields">{{ form.errors.target_amount.0}}</span>
                {% else %}
                            <span class="help-inline" ></span>
	            {% endif %}
	        </div>
        </div>        

		<div class="control-group">
	        <label class="control-label" for="cause">Cause</label>
	        <div class="controls">{{ form.cause }}
	        	 {% if form.errors.cause.0 %}
		            	<span class="help-inline" id="required-fields">{{ form.errors.cause.0}}</span>
                {% else %}
                            <span class="help-inline" ></span>
	            {% endif %}
	        </div>
        </div>
        <div class="control-group">
            <label class="control-label">Fund Distribution</label>
            <div class="controls">
            <span class="help-inline" ></span>
                <table class="fund-dist">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Amount</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for each in campaign.funddistribution_set.all %}
                        <tr class="row{{forloop.counter}}">
                        {% if fd_errors %}
                            <label style="color:#b94a48">{{ fd_errors }}</label>
                        {% endif %}
                            <td >
                               <input type="text" value="{{each.usage}}" name="fund-dist-desc{{forloop.counter}}">
                            </td>
                            <td >
                            <input type="text"  value="{{each.allocation}}" name="fund-dist-amt{{forloop.counter}}">
                            </td>
                            <td>
                                <i class="icon-plus-sign"></i><i class="icon-minus-sign" hidden></i>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Total </label>
            <div class="controls">
                &#8377 <span id="from-fund"></span>/ <span id="total"></span><span id="errors" style="color:#b94a48"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Rewards</label>
            <div class="controls">
            <span class="help-inline" ></span>            
                <table class="rewards">
                    <tbody>
                    {% for each in campaign.reward_set.all %}
                        <tr class="row1">
                            <td >
                                <input type="text" value="{{each.title}}" name="rewards{{forloop.counter}}">
                            </td>
                            <td>
                                <i class="icon-plus-sign"></i><i class="icon-minus-sign" hidden></i>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Team Members</label>
            <div class="controls">
            <span class="help-inline" ></span>            
                <table class="team-member">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Short Description</th>
                            <th>Facebook URL</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if campaign.teammember_set.exists %}
                    {% for each in campaign.teammember_set.all %}
                        <tr class="row1">
                            <td >
                                <input type="text" name="name{{forloop.counter}}" value="{{each.name}}">
                            </td>
                            <td >
                            <input type="text" value="{{each.role}}" name="role{{forloop.counter}}">
                            </td>
                            <td >
                                <input type="text" value="{{each.short_description}}" name="short-description{{forloop.counter}}">
                            </td>
                            <td >
                            <input type="text" value="{{each.fb_url}}" name="fb-url{{forloop.counter}}">
                            </td>
                            <td>
                                <i class="icon-plus-sign"></i><i class="icon-minus-sign"></i>
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr class="row1">
                            <td >
                                <input type="text" name="name1" value="{{user}}">
                            </td>
                            <td >
                            <input type="text"   name="role1">
                            </td>
                            <td >
                                <input type="text" name="short-description1">
                            </td>
                            <td >
                            <input type="text" name="fb-url1">
                            </td>
                            <td>
                                <i class="icon-plus-sign"></i><i class="icon-minus-sign"></i>
                            </td>
                        </tr>
                    {% endif %}    
                    </tbody>
                </table>
        </div>                    
	    <div class="control-group">
	        <label class="control-label" for="cause">Image</label>
	        <div class="controls">
		        {% render_field form.image placeholder=form.image.label id="upload_change_image" %}
	        </div>
	    </div>
	    <div class="hide show_man" >
	    	<div class="" style="padding-left: 185px;padding-bottom: 50px;padding-top: 20px;"> 
		    	 <img id="info_img" src=""  width="300" height="300">
	    	</div>
	    </div>                                                   
	        <div class="control-group">
	          <div class="controls">
	            <button type="submit" value="submit"  class="btn btn-primary" >Submit</button>
	          </div>
	        </div>      
  </form>
  </div>
{% endblock %}