{% extends "base.html" %}
{% block main_title %}Categories{% endblock %}
{% block title %}List of Categories{% endblock %}
{% block content %}
<h1>{{category}} </h1>
  {% if category.approved_campaign_set.exists %}
    {% for each in category.campaign_set.all %}
        {% if each.is_approved %}
          <li><a href="{% url 'campaigns:campaign_detail' each.slug %}">{{each}}</a></li>
        {% endif %}
    {% endfor %}
  {% else %}
    <p>No Campaigns in this Category</p>
  {% endif %}
{% endblock %}