{% extends 'base.html' %}
{% load google_contacts %}
{% load fetch_email %}
{% block main_title %}Gmail{% endblock %}
{% block title %}Contacts{% endblock %}
{% block content %}

	<p>
<!--	{% if google_state %}
	  Using imported contacts from Gmail [<a
	  href="{% google_auth_url request %}">stop using</a>]
	{% else %} -->
	  Invite contacts from <a
	  href="{% google_auth_url request %}">Gmail</a>
<!--	{% endif %}  -->
	</p>
	{% if not  google_contacts %}
		<p><b>Note : </b>Fetching contacts of your friends may take sometime</p> 
	{% endif %}

	{% if google_contacts %}
    <h4>Select Contacts</h4>
    <p>&nbsp;</p>
    <form id="changelist-search" class="form-search" action="{% url 'social:gmail_contacts' %}" method="get">
		  <div class="input-append">
		  	<label for="searchbar"><img src="{{MEDIA_URL}}/images/icon_searchbox.png" alt="Search" /></label>
		    <input type="text" class="span2 search-query" name="q" value="" id="searchbar">
		    <button type="submit" class="btn btn-primary" value="Search">Search</button>
		  </div>
	</form>
    <p>
    	  <a href="javascript:" onclick="select()">Select All</a>&nbsp; / &nbsp;
    	  <a href="javascript:" onclick="unselect()" >Unselect All</a>
    	  <a name="Top"></a>
          <a style="padding-left:160px;" href="#Bottom">Go to Bottom</a>
    </p>
	<form id="form_check" class="form" action="{% url 'social:send_invitation_to_gcontacts' %}" method="POST">
		{% csrf_token %}
		<div class="row">
         {% for contact in google_contacts %}
		  <div class="span4">
		  	<table class="table">
		  		<tr>
		  			<td>
		  			   <div class="contact_align">	 
		  			    	<input class="select-unselect" id="invite" type="checkbox" name="invite" value="{{contact|fetch_email}}">
				 	  	    {{ contact }}
				 	  </div>	 
				  	</td>  
				  
		  	    </tr>
		  	</table>  
	  	  </div>
	  	  {% endfor %} 	  
		</div>
	  	  <a name="Bottom"></a>
	      <a style="padding-left:320px;" href="#Top">Return to top</a>
		  <p style="padding-top:40px;padding-left:250px;">
		  	  <input type="submit" class="btn btn-primary" value="Send Request"/>
		  	  {# <input type="submit" class="btn btn-primary" value="Send Request" onclick=" return  atleast_onecheckbox()"/> #}
          </p> 	  	  		

	</form>
	{% endif %}
    <script type="text/javascript">
        document.getElementById("searchbar").focus();
        function select(){
			        $('.select-unselect').prop('checked',true);
			        return false;
			    }
        function unselect(){
			        $('.select-unselect').prop('checked',false);
			        return false;
			    }			    
/*		function atleast_onecheckbox()
        { 
         if (document.getElementById('invite').checked) {
            alert('the checkbox is checked');
            }
         else
           {
          alert("please check atleast one..");
          return false;
           }    
        }   			    
    </script>    
{% endblock %}	