{% extends "base.html" %}
{% block main_title %}People{% endblock %}
{% block title %}Beneficiaries{%endblock%}
{% block content %}
{% if beneficiary_list %}
 <table>
  {% for beneficiary in beneficiary_list%}
     <tr>
     	<td><a href="">{{beneficiary}}</a></td>
     </tr>
  {% endfor %}
 {% else %}
	 <p>There are no beneficiaries</p> 
 {% endif %}
 </table>
 	    {% if is_paginated %}
	        <div class="pagination pull-right">
	            <span class="page-links">
	                {% if page_obj.has_previous %}
	                    <a href="{% url "people:list_of_bnfs" %}?page={{ page_obj.previous_page_number }}">previous</a>
	                {% endif %}
	                <span class="page-current">
	                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
	                </span>
	                {% if page_obj.has_next %}
	                    <a href="{% url "people:list_of_bnfs" %}?page={{ page_obj.next_page_number }}">next</a>
	                {% endif %}
	            </span>
	        </div>
	    {% endif %}
{% endblock %}