{% extends "base.html" %}
{% block main_title %}People{% endblock %}
{% block title %}Beneficiary Details{% endblock %}
{% block content %}
  <h1>Beneficiary Details</h1>
  {% if beneficiary %}
	    <table class="table table-hover " border="0" align="left"  cellpadding="1" cellspacing="1"  width="70%"> 
          <tr><td>Beneficiary Name :</td><td><p>{{beneficiary.user.username}}</p></td></tr>
          <tr><td>Address :</td><td><p>{{beneficiary.address}}</p></td></tr>
          <tr><td>Website :</td><td><p>{{beneficiary.website}}</p></td></tr>
	    </table>
	{% else %}
	    <p>No details available.</p>
	{% endif %}
  
{% endblock %} 