{% extends "base.html" %}
{% block main_title %}Donors{% endblock %}
{% block title %}Donor Detail{% endblock %}
{% block content %}
  <h1>Donor Details</h1>
  {% if donor %}
	  <table class="table table-hover " border="0" align="left" width="70%"> 
          <tr><td>Donor Name</td><td><p>{{donor.user.username}}</p></td></tr>
          <tr><td>Address</td><td><p>{{donor.address}}</p></td></tr>
          <tr><td>website</td><td><p>{{donor.website}}</p></td></tr>
	  </table>
	{% else %}
	    <p>No details available.</p>
	{% endif %}
  
{% endblock %} 