<div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <!-- <a class="brand" href="/polls">Polls</a> -->
        <div class="nav-collapse collapse">
            <a class= "brand" href="/">Home</a>
            {% if not user.is_authenticated %}
                <ul class="nav pull-right ">
                    <li><a class= "" href="{% url 'accounts:person' %}"><i class="icon-user icon-white"></i>&nbsp;&nbsp;Sign Up</a></li> 
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li><a class= "" href="{% url 'accounts:login' %}"><i class="icon-user icon-white"></i>&nbsp;&nbsp;Login</a></li>  
                </ul>
            {% else %}
                <ul class="nav">
                    <li><a class= "" href="{% url 'people:list' %}">Persons</a></li>  
                </ul>
                {% if user.is_staff %}
                    <ul class="nav">
                        <li><a class= "" href="{% url 'customadmin:unapproved' %}">Unactivated Campaigns</a></li>  
                    </ul>
                {% endif %}
                {% if user.person %}
                <ul class="nav">
                    <li><a class= "" href="{% url 'campaigns:my_campaigns' user.person.id %}">My Campaigns</a></li>  
                </ul>
                {% endif %}    
                <ul class="nav pull-right">
                    <li><a class= "dropdown-toggle" data-toggle="dropdown" data-target="#" href="#"><i class="icon-user icon-white"></i>&nbsp;&nbsp;{{user|capfirst}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a tabindex="-1" href="{% url 'accounts:logout' %}">Logout</a></li>
                        </ul> 
                    </li>  
                </ul>
            {% endif %}    
        </div>
    </div>
</div>
