{% extends "base.html" %}
{% block title %}Unapproved{%endblock%}
{% block content %}
{% if unapproved_users %}
 <table >
  {% for usr in unapproved_users%}
     <tr>
     	<td>{{ usr }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
     	{# <td><a href="{% url 'approve' usr.id %}">Approve</a></td> #}
     	<td><a href="{% url 'approve' usr.id %}"><button type="submit" value="{{usr.id}}"  class="btn btn-primary" >Approve</button>
     	</a></td>
     </tr>
  {% endfor %}
 {% else %}
	 <p>There are no unapproved users</p> 
 {% endif %}
 </table>      
{% endblock %}