
/*list of books*/

#changelist-search {padding-left: 30px;}
.facebookapi {padding-top: 100px; padding-left: 30px;}

/*base.html*/
body {padding-top: 60px;}
.follow_us {padding-left: 1200px}
.container {padding-left: 40px;}
span.help-inline {color:#b94a48;}