{% extends "base.html" %}
{% block main_title %}Books{% endblock %}
{% block title %}List of Books{% endblock %}
{% block content %}
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<script>
				FB.init({
				appId:'305620232908791',
				cookie:true,
				status:true,
				xfbml:true
				});
				function FacebookInviteFriends()
				{
				FB.ui({
				method: 'apprequests',
				message: 'Hello Dude'
				});
				}
	</script>


    {% if messages %}
      {% for message in messages %}
        <div class="alert">  
		  <a class="close" data-dismiss="alert">×</a>  
		  <strong>Congrats!</strong>&nbsp; &nbsp; {{message}}
		</div>    
	  {% endfor %} 	
	{% endif %}
    <h1>List of Books</h1>
    <p>&nbsp;</p>
    <form id="changelist-search" class="form-search" action="." method="get">
	  <div class="input-append">
	  	<label for="searchbar"><img src="{{STATIC_URL}}/images/icon_searchbox.png" alt="Search" /></label>
	    <input type="text" class="span2 search-query" name="q" value="" id="searchbar">
	    <button type="submit" class="btn btn-primary" value="Search">Search</button>
	  </div>
	</form>
	<script type="text/javascript">document.getElementById("searchbar").focus();</script>    
	{% if list_of_books or search_results %}
	   <table class="table table-hover span10 well" border="0" align="left"  cellpadding="1" cellspacing="1"  width="70%"> 
	    {% if search_results %}
		    {% for book in search_results %}
		      <tr>
		        <td>  
		        	<a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
		        </td>
	          </tr>
		    {% endfor %}		    
		{% else %}    
		    {% for book in list_of_books %}
		      <tr>
		        <td>  
		        	<a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
		        </td>
	          </tr>
		    {% endfor %}
		{% endif %}    
	    </table>
	    {% if is_paginated %}
	        <div class="pagination pull-right">
	            <span class="page-links">
	                {% if page_obj.has_previous %}
	                    <a href="/books?page={{ page_obj.previous_page_number }}">previous</a>
	                {% endif %}
	                <span class="page-current">
	                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
	                </span>
	                {% if page_obj.has_next %}
	                    <a href="/books?page={{ page_obj.next_page_number }}">next</a>
	                {% endif %}
	            </span>
	        </div>
	    {% endif %}
	{% else %}
	    <p>No Books available.</p>
	{% endif %}
	<div class="facebookapi" style="position : absolute;bottom : 0; height : 40px; margin-top : 40px;">
	   <span>Invite friends from <a href="javascript:" onclick="FacebookInviteFriends();">Facebook ?</a></span>&nbsp;
	   <span>
		   <a  href="javascript:" onclick="window.open('{% url 'social:gmail_contacts' %}','targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=500,height=500')">
				   Gmail ?
		   </a>	
	   </span>	   

	</div>
<script type='text/javascript'>
			if (top.location!= self.location)
			{
			top.location = self.location
			}
</script>	
{% endblock %} 