{% extends "base.html" %}
{% block main_title %}Admin{% endblock %}
{% block title %}Unapproved{%endblock%}
{% block content %}
{% if unapproved_campaigns %}
 <table >
  {% for campaign in unapproved_campaigns%}
     <tr>
     	<td><a href="{% url 'campaigns:campaign_detail' campaign.slug %}">{{ campaign }}</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     	{# <td><a href="{% url 'approve' campaign.id %}">Approve</a></td> #}
     	<td><a href="{% url 'customadmin:approve' campaign.id %}"><button type="submit" value="{{campaign.id}}"  class="btn btn-primary" >Approve</button>
     	</a></td>
     </tr>
  {% endfor %}
 {% else %}
	 <p>There are no unapproved Campaigns</p> 
 {% endif %}
 </table>      
{% endblock %}