<html>
    <head></head>
    <body>
    
Hi <strong>{{username}}</strong>,

<p>Thanks for signing up at Pratham Books. </p>
<p>Your Login Details : </p>
<p>Username : {{ username }}</p> 
<p>Password : ******** (Not shown for safety)</p>

<p>Here is how you can get started.</p>

<h3>Steps:</h3>
<ul>
    <li>Login to Pratham Books at http://localhost:8000/ </li>
    <li>If you are a <b>Benificiary</b>, create a campaign by entering all the details</li>
    <li>If you are a <b>Donor</b>, browse a campaign and donate for selected campaign</li>
</ul>
<p>For more info, visit http://localhost:8000/ </p>
<p>If you need help please dont hesitate to contact us.</p>


    </body>
</html>
